* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #4a72ff;
  --secondary-color: #ffac2e;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--foreground-color), 1);
  & > * {
    padding: 0 max(1rem, 6vw);
  }
}

body[data-theme="dark"] {
  --accent-color: #6d83ff;
  --secondary-color: #d60739;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
}

h1 {
  font-size: max(1.8rem, 4vw);
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: max(1.2rem, 2vw);
}

a {
  text-decoration: none;
  color: var(--accent-color);

  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}
p {
  color: rgba(var(--text-color), 0.8);
  max-width: 70ch;
  line-height: 1.5;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
}
#company_title {
  position: relative;
  margin: auto;
  color: rgba(var(--foreground-color), 1);
}
section {
  height: 100vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
#hero_section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  background-color: var(--accent-color);
  color: rgba(var(--foreground-color), 1);
  text-align: center;
  &::after {
    position: absolute;
    content: "";
    background: url("../assets/triangle-down.svg");
    background-repeat: repeat-x;
    background-size: 1.8rem;
    width: 100%;
    height: 2rem;
    top: calc(100% - 0.03rem);
    left: 0;
  }
  p {
    max-width: none;
  }
}
.section-title {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}
#team_members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  margin-top: 2rem;
  gap: 3rem 1.5rem;
}
.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__image-container {
    display: grid;
    margin-bottom: 1.2rem;
    place-items: center;
    & > * {
      grid-area: 1/1;
    }
    img:first-of-type {
      width: calc(100% - 1.5rem);
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    object-position: center;
    aspect-ratio: 1/1;
    mask: url("../assets/stamp.svg") no-repeat center / contain;
  }
  &__name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;
  }
  &__title {
    line-height: normal;
    font-weight: 500;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 40rem) {
  #team_members {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;

    &:hover {
      background: rgba(var(--text-color), 0.5);
    }
  }

  .interactive:hover {
    background-color: rgba(var(--text-color), 0.06);
  }
}

@supports (overflow: overlay) {
  body {
    overflow: overlay;
  }
}

.hidden {
  display: none !important;
}
